body {
    background-color: rgb(253, 251, 251)
}

header{
    position: fixed;
    top: 0;
    padding-right: 900px;
    padding-left: 20px;
    background-color: blueviolet;
    margin-left: -10px;
}

#minha_foto{
    width: 300px;
    margin-top: 100px;
    border: 2px solid blueviolet;
}

#rodape{
    background-color: blueviolet;
    margin-left: -10px;
    padding-left: 20px;
}

#tabela-teste, td{
    border: 1px solid black;
}

#listas{
    margin: 20px;

}

#licoes_aprendidas li a, #licoes_a_aprender li a{
    text-decoration: none;
    color: rgb(4, 49, 2);
    line-height: 25px;
}

div article .lado-esquerdo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: medium;
}

div section .lado-direito{
    display: table-cell;
    float: left;
    width: 200px;
    margin-right: 50px;
}